@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  margin-top: 35px;
  margin-left: 42px;
}

.link-menu {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.875px;
  color: #17233d;
  margin-right: 32px;
  cursor: pointer;
}

button {
  width: 124px;
  height: 51px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #4cb538;
  background: #6fbf44;
  border: none;
  cursor: pointer;
}

main {
  margin: 78px auto;
}

.conteiner-1 {
  display: inline-block;
  margin-left: 102px;
}

.podium-img {
  width: 380px;
  height: 360px;
}

.conteiner-2 {
  display: inline-block;
  margin-left: 47px;
}

h1 {
  width: 582px;
  color: #161a49;
  line-height: 82px;
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.596px;
}

p {
  color: #4b505a;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  width: 493px;
  margin-top: 47px;
  margin-bottom: 55px;
}

.link-section {
  color: #6fbf44;
  margin-top: 55px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  border: none;
}

@media screen and (max-width: 900px) {
  .link-menu {
    display: none;
  }

  button {
    margin-left: 402px;
  }

  .podium-img {
    position: absolute;
    margin-top: 550px;
  }

  .conteiner-2 {
    display: block;
    position: absolute;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    line-height: 80px;
    font-size: 60px;
  }

  p {
    text-align: center;
    margin-left: 51px;
    line-height: 33px;
    font-size: 18px;
  }
}
